{% extends 'main/layout.html' %}
 {% load static %}

{% block content %}
<div class="features">

    <p>СВО-2014 является сценарной игрой, логика развития событий в которой, зависит от решений пользователя. Однако, автор этих сценариев опирается на существующую в 2014 году реальность и ветки развития событий не уходят в откровенную фантастику для мира 2014-2015 годов.<br>
На тот период, доминирующей силой на планете, не считая ядерных триад в считанных государствах, являлся и пока является, но уже сильно отчасти, ВМФ США, способный наносить удары за 2000 км, оставаясь при этом, почти, неуязвимым для уничтожения.  <br><br>
С появлением русского гиперзвука, эпоха американского всемогущего флота почти подошла к концу. Однако, следует упомянуть, что и до появления “Кинжалов”, “Ониксов” и других гиперзвуковых ракетных систем, политику НАТО сдерживал факт неизбежного многомегатонного ответа по территории самих США и их союзников.<br><br>
Такова была концепция еще СССР и надводные русские флота являлись и являются, больше ударной силой дополняющей РВСН и поддерживающей региональные  операции, нежели основой межгосударственных силовых аргументов.<br><br>

Что касается самой разработки программы игры, то она является инициативой любителя-программиста и создавалась вне каких либо бюджетов или административных ресурсов, поэтому является совершенно бесплатной и не содержит какой-либо рекламы.<br> <br>Однако, размещение кода с игрой на хостинге требует средств, в связи с этим, любая помощь небольшими суммами по QR коду будет очень кстати. Перевод будет являться абсолютно “белым” соответствовать ОКВЭД предприятия и с него будет списан законный налог.

<br>Все замечания и предложения можно присылать в телеграм канал: @X101
</p>


</div>


<div class="img-container">
    <img id="mainImage" src="{% static 'main/img/IMG5.png' %}" alt="Image 1" style="max-width: 200%; height: auto;">

</div>


{% endblock %}